<ion-header>
  <ion-navbar [color]="co" id="navbar">
    <ion-title>
      <ion-row>
        <ion-col col-6 text-left style="color:orangered;">
          {{ title }}
        </ion-col>
        <ion-col col-6 text-right>
          <ion-icon
            ios="ios-notifications"
            md="md-notifications"
            (click)="goToNotification()"
            class="iconspace"
            style="margin-left: 5px;"
          ></ion-icon>
          <ion-icon ios="ios-notifications" md="md-star" (click)="goToFav()">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #pageContent>
  <!-- <div class="header-image"></div> -->

  <ng-container *ngIf="true; then connected; else notconnected"> </ng-container>

  <ng-container *ngIf="mainslide.length > 0; else elseTemplate">
    <ion-slides
      *ngIf="mainslide.length > 0"
      pager
      speed="1000"
      effect="slides"
      class="mainslide"
      autoplay="1000"
      loop="true"
    >
      <ion-slide *ngFor="let item of mainslide">
        <img src="../../assets/b.jpg" alt="" class="header-image" />
      </ion-slide>
    </ion-slides>
  </ng-container>
  <ng-template #elseTemplate style="height:40vh">
    <div style="height:40vh">
      <ion-spinner
        name="bubbles"
        style="margin-top: 20vh;
        margin-left: 49vw;"
      >
      </ion-spinner>
    </div>
  </ng-template>
  <ng-template #connected class="main-content">
    <!-- top shops -->
    <!-- <cardgrid></cardgrid>
    <h3>Featured</h3>
    <aslidinglist
      [items]="tempdata"
      [type]="'stores'"
      [featureid]="'5be3984c-2099-40f8-8d20-491fda5ae4bb'"
    ></aslidinglist> -->

    <!-- top brands  -->
    <!-- <h3>Top brands</h3>
    <ng-container *ngIf="brands.length > 0; else loading">
      <ion-row>
        <!-- <ion-item no-lines class="leftpadding">
          <ion-scroll scrollX="true" scroll-avatar style="height:150px;">
            <ion-avatar *ngFor="let item of brands">
              <img
                src="../../assets/{{ item.Logo }}"
                style="border: 1px solid grey;"
                class="scroll-item"
              />
            </ion-avatar>
          </ion-scroll>
        </ion-item> 
        <ion-item no-lines>
          <ion-scroll scrollX="true" scroll-avatar class="brandcardcontainer">
            <ion-card
              *ngFor="let avatar of brands"
              class="scroll-item brandcard"
            >
              <img
                src="{{ avatar.Logo }}"
                style=" 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  "
              />
            </ion-card>
          </ion-scroll>
        </ion-item>
      </ion-row>
    </ng-container> -->
    <!-- <aslidinglist
      [items]="tempdata"
      [type]="'stores'"
      [featureid]="'5be3984c-2099-40f8-8d20-491fda5ae4bb'"
    ></aslidinglist> -->
            <ng-container *ngIf="brands.length > 0">
          <h4>Top brands</h4>
          <ion-row>
            <ion-item no-lines class="leftpadding">
              <ion-scroll scrollX="true" scroll-avatar style="height:130px;">
                <!-- <ion-avatar>
                  <img
                    src="{{ item?.Logo }}"
                    class="scroll-item"
                    style="border: 1px solid grey;width: 70px;
    height: 70px;padding:0px;"
                    *ngFor="let item of brands"
                  />
                </ion-avatar> -->
                <div class="container" class="scroll-item" *ngFor="let item of brands;let i = index" >
       <!-- <img src=" ../../assets/a3.png" alt="" style="width:100px" [ngClass]="" /> -->
                <div class="image" [ngClass]="{'even': i%2 == 0 , 'odd': i%2 !=0}"></div>
                <img src="../../assets/amazon-logo.png" alt="" class="inner-image" />
                </div>
              </ion-scroll>
            </ion-item>
          </ion-row>
        </ng-container>
    <ng-template #loading>
      <ion-spinner name="bubbles"></ion-spinner>
    </ng-template>
    <ion-row *ngFor="let item of store; let i = index" class="mycatego">
      <ion-col col-12>
        <!-- <ion-col col-12 text-center>
          <h2 *ngIf="item.Name !== 'Featured'">{{ item.Name }}</h2>
        </ion-col> -->
        <ion-row>
          <ion-col col-12 text-center>
            <dealsgrid
              [items]="item"
              [type]="'substores'"
              *ngIf="item.ID"
            ></dealsgrid>
          </ion-col>
        </ion-row>
        <ng-template #loading>
          <ion-spinner name="bubbles"></ion-spinner>
        </ng-template>
      </ion-col>
      <singleadd *ngIf="i % 3 == 0"></singleadd>
    </ion-row>

    <!-- Single Add -->
    <singleadd></singleadd>
  </ng-template>
  <ng-template #notconnected>
    <h3>Please connecet to internet</h3>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
