profile {
  .profileimage {
    width: 120px;
    margin-top: 20px;
  }

  .list-md .item-input:last-child {
    border-bottom: 0px;
  }

  .ion-input {
    border-bottom: none !important;
    box-shadow: none;
  }
  .disabled {
    pointer-events: none; //This makes it not clickable
    opacity: 0.8; //This grays it out to look disabled
  }

  // .lastchildnoborder .item-inner {
  //     border-bottom: 0px !important;
  // }

  ion-item .item-inner {
   margin-left:0px !important;
  }

  .icon.icon-md{
color: #fb595e;
  }

  .label.label-md{
    color:gray;
  }

}
