<ion-row text-center>
  <ion-col col-12>
    <div>
      <img
        src="../../assets/imgs/logo.png"
        alt=""
        srcset=""
        class="profileimage"
      />
    </div>
  </ion-col>
  <ion-col col-12>
    <h3>{{profile.Name}}</h3>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-12>
    <form #profileForm="ngForm">
      <ion-list>
        <ion-item [ngClass]="{'disabled':!editForm}">
          <ion-label floating>Username</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="profile.Username"
            color="theme"
            name="Name"
          ></ion-input>
        </ion-item>
        <ion-item [ngClass]="{'disabled':!editForm}">
          <ion-label floating>Email</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="profile.Email"
            name="Email"
          ></ion-input>
        </ion-item>
        <ion-item [ngClass]="{'disabled':!editForm}">
          <ion-label floating>Mobile Number</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="profile.PhoneNo"
            name="PhoneNo"
          ></ion-input>
        </ion-item>
      </ion-list>
    </form>
    <ion-list>
      <ion-list-header style="margin-bottom: 0px !important;font-size: 1.5em;">
        Others
      </ion-list-header>
      <ion-item (click)="updateProfile(profileForm)" *ngIf="!editForm">
        <ion-icon name="leaf" item-start></ion-icon>
        Edit Profile
      </ion-item>
      <ion-item (click)="updateProfile(profileForm)" *ngIf="editForm">
        <ion-icon name="leaf" item-start></ion-icon>
        Save Profile
      </ion-item>
      <ion-item (click)="changePassword()">
        <ion-icon name="leaf" item-start></ion-icon>
        Change Password
      </ion-item>
      <ion-item (click)="logOut()">
        <ion-icon name="leaf" item-start></ion-icon>
        Sign out
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
