<ng-container
  *ngIf="!isGoogleLogin; then thenTemplate; else elseTemplate"
></ng-container>

<ng-template #thenTemplate>
  <ion-row text-center>
    <ion-col col-12>
      <div>
        <img
          src="../../assets/imgs/logo.png"
          alt=""
          srcset=""
          class="profileimage"
        />
      </div>
    </ion-col>
    <ion-col col-12>
      <!-- <h3>{{profile.Name}}</h3> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <form #profileForm="ngForm">
        <ion-list>
          <ion-item [ngClass]="{'disabled':!editForm}">
            <ion-label floating>Username</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="profile.Username"
              color="theme"
              name="Name"
            ></ion-input>
          </ion-item>
          <ion-item [ngClass]="{'disabled':!editForm}">
            <ion-label floating>Email</ion-label>
            <ion-input
              type="email"
              [(ngModel)]="profile.Email"
              name="Email"
            ></ion-input>
          </ion-item>
          <ion-item [ngClass]="{'disabled':!editForm}">
            <ion-label floating>Mobile Number</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="profile.PhoneNo"
              name="PhoneNo"
            ></ion-input>
          </ion-item>
        </ion-list>
      </form>
      <ion-list>
        <ion-list-header
          style="margin-bottom: 0px !important;font-size: 1.5em;"
        >
          Others
        </ion-list-header>
        <ng-container>
          <ion-item (click)="updateProfile(profileForm)" *ngIf="!editForm">
            <ion-icon name="md-settings" item-start></ion-icon>
            Edit Profile
          </ion-item>
          <ion-item (click)="updateProfile(profileForm)" *ngIf="editForm">
            <ion-icon name="md-settings" item-start></ion-icon>
            Save Profile
          </ion-item>
             <ion-item (click)="removeVisitedStore()">
          <ion-icon name="md-trash" item-start></ion-icon>
          Clear Visited Store
        </ion-item>
          <ion-item (click)="removeVisitedCategory()">
          <ion-icon name="md-trash" item-start></ion-icon>
          Clear Visited Category
        </ion-item>
          <ion-item (click)="changePassword()">
            <ion-icon name="md-phone-portrait" item-start></ion-icon>
            Change Password
          </ion-item>
        </ng-container>
        <ion-item (click)="logOut()">
          <ion-icon name="md-log-out" item-start></ion-icon>
          Sign out
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ng-template>
<ng-template #elseTemplate>
  <ion-row text-center>
    <ion-col col-12>
      <div>
        <img
          src="../../assets/logo192.png"
          alt=""
          srcset=""
          class="profileimage"
        />
      </div>
    </ion-col>
    <ion-col col-12>
      <h3>{{profile?.displayName}}</h3>
      <!-- <h3>kdjhfslkdahflds;kjhf</h3> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <form #profileForm="ngForm">
        <ion-list>
          <ion-item [ngClass]="{'disabled':!editForm}">
            <ion-label floating>Email</ion-label>
            <!-- <ion-input
            type="email"
            [(ngModel)]="profile.email"
            name="Email"
          ></ion-input> -->
          </ion-item>
          <ion-item>
            <ion-label floating>Mobile Number</ion-label>
            <ion-input
              type="number"
              (ngModel)="profile.PhoneNo"
              name="PhoneNo"
            ></ion-input>
          </ion-item>
        </ion-list>
      </form>
      <ion-list>
        <ion-list-header
          style="margin-bottom: 0px !important;font-size: 1.5em;"
        >
          Others
        </ion-list-header>
          <ion-item (click)="getHistory()">
          <ion-icon name="md-settings" item-start></ion-icon>
          History
        </ion-item>
        <ion-item (click)="UpdatePhoneNo()" >
          <ion-icon name="md-settings" item-start></ion-icon>
          Update Details
        </ion-item>
          <ion-item (click)="removeVisitedStore()">
          <ion-icon name="md-trash" item-start></ion-icon>
          Clear Visited Store
        </ion-item>
          <ion-item (click)="removeVisitedCategory()">
          <ion-icon name="md-trash" item-start></ion-icon>
          Clear Visited Category
        </ion-item>
        <ion-item (click)="logOutFromGoogle()">
          <ion-icon name="md-log-out" item-start></ion-icon>
          Sign out
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ng-template>
