<ion-row text-center>
  <ion-col col-12>
  <div >
    <img src="../../assets/imgs/logo.png" alt="" srcset="" class="profileimage">
  </div>
  </ion-col>
  <ion-col col-12>
    <h3>Prateek Agnihotri</h3>
  </ion-col>
 
</ion-row>
<ion-row>
  <ion-col col-12>

  <form #profileForm="ngForm">
    <ion-list>

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

</ion-list>
  <!-- <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input type="text" name="Username"  [disabled]="editFormStatus"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input type="email"  name="Email"  [disabled]="editFormStatus"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label fixed>Mobile Number</ion-label>
      <ion-input type="text"  name="PhoneNo" [disabled]="editFormStatus" class="lastchildnoborder"></ion-input>
    </ion-item> -->
 </form>
<ion-list>
  <ion-list-header style="margin-bottom: 0px !important;font-size: 1.5em;">
    Others
  </ion-list-header> 
  <ion-item (click)="changePassword()">
    <ion-icon name="leaf"  item-start></ion-icon>
    Change Password
  </ion-item>
  <ion-item (click)="logOut()">
    <ion-icon name="leaf" item-start></ion-icon>
    Sign out
  </ion-item>
</ion-list>
  </ion-col>
</ion-row>
