page-dealdetail {
    .centerimage{
        width:150px;
         margin: 8px auto;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  display: block;
    }
    .toolbar-background-md {
    background: transparent;
  }
}
