<ion-header>
  <ion-toolbar>
    <ion-title style="margin-left: 10px;">
     <span class="titlecolormargin" *ngIf="services !== 'services'" style="color:black;">{{deal?.Name}}</span>
     <span class="titlecolormargin" *ngIf="services == 'services'" style="color:black">{{deal?.SubCategory.Name}}</span>
    </ion-title>
    <ion-buttons start color="theme">
      <button ion-button (click)="dismiss()" color="theme">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows" color="theme"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="buttons" (click)="shareApp(deal)"><ion-icon name="md-share"></ion-icon></button>
     </ion-fab>
<ng-container *ngIf="deal">
 <ng-container *ngIf="services !== 'services'; else elseTemplate">
    <ion-row style="margin-top:50px">
    <ion-col col-12>
      <img
        src="{{deal?.Logo}}"
        alt=""
        srcset=""
        style="    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80px;"
      />
    </ion-col>
  </ion-row>
  <ion-row text-center>
      <ion-col col-12 >
      <!-- <h4 style="margin-top: 10px;
    margin-bottom: 0px;">{{deal.Name}}</h4> -->
      <h6 style="margin-left: 10px !important;
    margin-top: 20px;
    margin-bottom: 0px;">{{deal.Category.Name}}</h6>
    </ion-col>
    <!-- <ion-col col-12>
      <h6 style="margin-top:5px">{{deal.ShortDescription}}</h6>
    </ion-col> -->
  </ion-row>

  <ion-row>
    <ion-col col-12>
      
           <h4 style="font-family: Teko-Regular;">Offer Details</h4>
          <!-- <p style="margin-left: 10px !important;
    margin-top: 0px;
    margin-bottom: 0px;"> -->
    <ul>
      <ng-container *ngFor="let item of description">
 <li *ngIf="item.length > 1"> {{item}}.</li>

      </ng-container>
      
</ul>  

         
          <!-- </p>  -->
    
    <ion-row>
    <ion-col col-12>
      <!-- <ion-card>
        <ion-card-content> -->
          <ion-row text-center>
            <ion-col col-12>
              <h6>Coupon Code</h6>
              <!-- <h4>{{deal?.Coupon}}</h4> -->
              <h2 *ngIf="deal.Coupon" style="color:#fb595e;text-transform: uppercase;">{{deal?.Coupon}}</h2>
              <h2 *ngIf="!deal.Coupon" style="color:#fb595e;text-transform: uppercase;font-family: GloriaHallelujah-Regular;">No Coupon Required</h2>
            </ion-col>
          </ion-row>
        <!-- </ion-card-content>
      </ion-card> -->
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col col-12>
      <ion-list>
          <ion-item (click)="setReminder()" >
          Set Reminder
        </ion-item>
        <ion-item (click)="setFav()" >
          Add to Favourite
        </ion-item>
        <ion-item (click)="reportIssue()">
          Report Issue
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

    </ion-col>
  </ion-row>


  <div style="position:absolute;bottom:0px;z-index:9999">
<!-- <button ion-button color="danger"  full (click)="getDeal(deal)" class="btnBottom">Get Deal</button> -->
 <!-- <ion-fab right bottom>
   <button ion-fab color="danger"  full (click)="getDeal(deal)" class="btnBottom">Get Deal</button>
 </ion-fab> -->
  </div>
  
  </ng-container>
  <ng-template #elseTemplate>
 <ion-row style="margin-top:25px">
    <ion-col col-12>
      <div style="height: 50px;">
<img
      
        src="{{deal?.Logo}}"
        alt=""
        srcset=""
        style="    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80px;"
      />
      </div>
      
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-12 text-center>
      <h4 style="margin-top: 00px;
    margin-bottom: 0px;">{{deal.Name}}</h4>
      <!-- <h6 style="margin-left: 10px !important;
    margin-top: 0px;
    margin-bottom: 0px;">{{deal.Category.Name}}</h6>
    </ion-col> -->
    <!-- <ion-col col-12>
      {{deal.ShortDescription}} -->
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12>
     <h4 style="font-family: Teko-Regular;">Offer Description</h4>
          <p style="margin-left: 10px !important;
    margin-top: 0px;
    margin-bottom: 0px;">
            {{deal.Description}}
          </p> 
           <!-- <button ion-button color="danger"  full (click)="getDeal(deal)" class="btnBottom">Apply</button> -->
    </ion-col>
  </ion-row>
  </ng-template>
</ng-container>
</ion-content>

<ion-footer>
  <button ion-button full style="border-radius: 2px;
    overflow: hidden;
    height: 4.6rem;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
     margin: 0;
     padding: 0"  color="theme" (click)="getDeal()" *ngIf="this.services !== 'services'">Get Deal</button>
     <button ion-button full style="border-radius: 2px;
    overflow: hidden;
    height: 4.6rem;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
     margin: 0;
     padding: 0"  color="theme" (click)="getDeal()" *ngIf="this.services == 'services'">Apply</button>
</ion-footer>