cardgrid {
    .productgrid ion-col {
        border-right: 1px solid rgba(0,0,1,.09);
        border-bottom: 1px solid lightgray;
        height: 100px;
    }

    .productgrid ion-col:nth-child(3) {
        border-right: 0px solid;
    }

    .productgrid ion-col:nth-child(-n+3) {
        border-top: 1px solid lightgrey;
    }

    .productgrid ion-col img {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
    }
}