


<ion-row>
<ion-col col-12>
   <h4>Top Shops</h4>
  <ion-row>
    <ion-col col-4>
      <ion-avatar>
        <img src="../../assets/imgs/4.png">
      </ion-avatar>
    </ion-col>
     <ion-col col-4>
      <ion-avatar>
        <img src="../../assets/imgs/4.png">
      </ion-avatar>
    </ion-col>
     <ion-col col-4>
      <ion-avatar>
        <img src="../../assets/imgs/4.png">
      </ion-avatar>
    </ion-col>
     <ion-col col-4>
      <ion-avatar>
        <img src="../../assets/imgs/4.png">
      </ion-avatar>
    </ion-col>
     <ion-col col-4>
      <ion-avatar>
        <img src="../../assets/imgs/4.png">
      </ion-avatar>
    </ion-col>
     <ion-col col-4>
      <ion-avatar>
        <img src="../../assets/imgs/4.png">
      </ion-avatar>
    </ion-col>
  </ion-row>
</ion-col>
</ion-row>