page-favourites {
    .logo {
        width: 90px;
    }

    .my-class {
        display: none;
    }

    .nopaddingcard {
        padding-top: 10px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 5px !important;
    }

    .toolbar-background-md {
        background: transparent;

    }

    .toolbar-title-md {
        color: orangered;
    }
}