<ion-header>
  <ion-navbar>
    <ion-title>Favourites</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container
    *ngIf="fav; then thenTemplate; else elseTemplate"
  ></ng-container>
  <ng-template #thenTemplate>
    <ion-card
      style="margin-top:75px;"
      *ngFor="let item of fav"
      (swipe)="swipeEvent($event)"
    >
      <img
        [src]="item.image"
        style="width: 150px;
    margin-top: -39px;
    z-index: 91554;
    position: absolute;"
      />
      <ion-card-content>
        <p style="margin-left: 150px; min-height: 100px">
          {{ item.title }} <br />
          {{ item.description }}
        </p>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button
            ion-button
            clear
            small
            color="danger"
            icon-start
            (click)="remove(item.id)"
          >
            <ion-icon name="star"></ion-icon>
            Remove
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name="musical-notes"></ion-icon>
            Buy
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name="share-alt"></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-template>
  <ng-template #elseTemplate>
    <h3>Not Fav Yet</h3>
  </ng-template>
</ion-content>
