page-productlist {
  .logo {
    width: 90px;
  }

  .my-class {
    display: none;
  }

  .nopaddingcard {
    padding-top: 10px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 5px !important;
  }

  .dealsimage {
    z-index: 91554;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  }

  .toolbar-background-md {
    background: transparent;
  }

  .toolbar-title-md {
    color: orangered;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: orangered;
  }

  .itemtext {
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(75, 67, 67);
    font-size: 17px;
  }

  ion-card :after {
    background: url(../../assets/bgfav.jpg);
    opacity: 0.25;
  }

  .secondclass {
    background: url(../../assets/bgfav_app_45.jpg);
    background-size: cover;
  }

  ion-icon {
    color: red;
  }
}
