<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!searchBoxOpened">Products</ion-title>
    <ion-searchbar
      [(ngModel)]="searcTerm"
      (ionInput)="onInput($event)"
      (ionCancel)="searchBoxOpened = false"
      [debounce]="500"
      [autocomplete]="on"
      [animated]="true"
      *ngIf="searchBoxOpened"
      style="height: 64px;
    width: 73vw;"
      #searchbar
    >
    </ion-searchbar>
    <ion-buttons end>
      <button
        ion-button
        icon-only
        end
        *ngIf="searchBoxOpened"
        (click)="searchBoxOpened = false"
        style="font-size:1.8rem;"
      >
        <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button
        ion-button
        icon-only
        end
        *ngIf="!searchBoxOpened"
        (click)="searchBoxOpened = true; setFocus()"
      >
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list [virtualScroll]="newItem" approxItemHeight="225px">
    <ion-item *virtualItem="let item">
      <ion-card [ngClass]="{ secondclass: itemfav }" (click)="cardClick(item)" style="border-radius: 10px;">
        <ion-card-content style="padding:7px 6px;padding-bottom: 0px;">
          <ion-row>
              <ion-col col-4 text-left>
              <ion-img src="{{item.Logo}}" class="dealsimage"></ion-img>
            </ion-col>
            <ion-col col-8>
              <h4>{{ item.Name }}</h4>
                    <h3>Coupon</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-row>
                <ion-col col-12>
                   <p class="overflowtext">
                {{ item.Description }}
              </p>
                </ion-col>
              </ion-row>
            </ion-col>
            
          </ion-row>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col col-4>
            <button
              ion-button
              clear
              small
              color="danger"
              icon-start
              (click)="setDealAsFav(item)"
            >
              <ion-icon name="star"></ion-icon>
              Favorite
            </button>
          </ion-col>
          <ion-col col-4 text-center>
            <button
              ion-button
              clear
              small
              color="danger"
              icon-start
              (click)="remindBtn(item)"
            >
              <ion-icon name="musical-notes"></ion-icon>
              Remind
            </button>
            <!-- <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="item.time" (ionChange)="setData(item)" style="padding-top:0px">
      </ion-datetime>  -->
          </ion-col>
          <ion-col col-4 text-right>
            <button
              ion-button
              clear
              small
              color="danger"
              icon-start
              (click)="getDeal(item)"
            >
              <ion-icon name="share-alt"></ion-icon>
              Buy
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab  (click)="shareApp()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
