page-home {
  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 177px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
    }

    .selectable-icon {
      margin: 10px 20px 10px 20px;
      color: red;
      font-size: 100px;
    }

    ion-avatar img {
      margin: 10px;
    }
  }

  ion-scroll[scroll-avatar] {
    height: 177px;
  }

  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }

  .item-md ion-avatar img {
    width: 80px;
    height: 80px;
  }

  .item-md.item-block .item-inner {
    padding-right: 0px !important;
    // border-bottom: 0px !important;
  }

  .leftpadding {
    padding-left: 10px;
  }

  // .header-md::after {
  //   background-image: none !important;
  // }

  .item[no-lines],
  .item.item[no-lines] .item-inner {
    background-color: transparent;
  }

  //  ion-navbar {
  //      opacity: 0.2;
  //     //  box-shadow: 0px 1px 13px 1px rgba(0, 0, 0, 0.77);
  //  }
  .header-image {
    //  background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
    // height: 250px;
    width: fit-content;
    // margin-top: 25px;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        left: 0;
    bottom: 20px;
    width: 100%;
  }
  .ios .swiper-pagination-bullet-active, .md .swiper-pagination-bullet-active{
    color:white
  }

  .main-content {
    background-color: map-get($colors, dark);
    box-shadow: 0px -1px 13px 1px rgba(0, 0, 0, 0.3);
  }

  .scroll-content {
    // padding-top: 0 !important;
  }

  ion-header {
    //  backdrop-filter: blur(8px);
  }

  //  ion-card:last-of-type {
  //      margin-bottom: 0 !important;
  //  }

  //  .toolbar-background {
  //      background: black;
  //      --ion-color-base: transparent !important;
  //  }

  /* Remove bottom border on md */
  // .header-md::after {
  //   background-image: none;
  // }

  /* Remove bottom border on ios */
  .header-ios ion-toolbar:last-child {
    --border-width: 0;
  }

  .mainslide {
    height: 200px;
    margin-top: 25px; 
  }

  //  .mytextcolor{
  //      color:orangered;
  //  }

  ion-icon {
    margin-left: 5px;
  }

  .mycatego:nth-child(3n)::after {
    /*the clearfix thing*/
    content: "";
    clear: both;
    display: table;
  }

  .toolbar-md {
    min-height: 50px;
  }

  .storeimage {
    width: 106px !important;
    height: 75px !important;
  }

  // .label-md {
  //   margin: 0 !important;
  // }

  .item-md {
    padding-left: 0px !important;
  }

  .item-md ion-avatar img {
    width: 100px;
    height: 100px;
    padding: 15px;
  }

  .nopadding {
    padding: 0px !important;
  }

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  div {
    position: relative;
  }

  .inner-image {
    position: absolute;
    top: 43%;
    left: 20%;
    width: 65px;
}
  .container {
    position: relative;
  }

  .scroll-item:nth-child(4n+0)  div.image{
    content: url(../../assets/a3.png);
  }
  .scroll-item:nth-child(4n+1)  div.image{
    content: url(../../assets/border2.png);
  }
 .scroll-item:nth-child(4n+2)   div.image{
    content: url(../../assets/border3.png);
  }
  .scroll-item:nth-child(4n+3) div.image {
    content: url(../../assets/border4.png);
  }

  .toolbar-title-md{
    font-family: 'CarterOne-Regular' !important;
  }

  .refresher-active{
    top: 0px !important;
  }

   .largecard {
    position: relative;
    text-align: center;
    height: 60px;
    width: 120px;
    margin-right: 0px;
    padding: 0px;
    margin-left: 10px;
    -webkit-box-shadow: 2px 3px 16px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 16px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 16px -4px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
  } 
  .visitedlargecard{
     position: relative;
    text-align: center;
    height: 60px;
    width: 100px;
    margin-right: 0px;
    padding: 0px;
    margin-left: 10px;
    border-radius: 10px;
  }
h4, h5, h6{
 margin-left: 10px;
    margin-bottom: 5px;
    margin-top:0px
}

body {
   overflow-x:hidden;
}
 .dealscardimage{
       width: 40px !important;
   
    margin-bottom: 3px;
    margin-top: 5px;
  }
    .dealslargecard {
    position: relative;
    text-align: center;
    height: 70px;
    width: 80px;
    margin-right: 0px;
    padding: 0px;
    margin-left: 10px;
   
    border-radius: 10px;
  }
 .dealslargecardcontainer {
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    height: 75px !important;
    margin-top: 0px;
  }

   :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 49px;
    }

   .item-inner{
    }

    .borderlist >.item-md.item-block .item-inner{
      border-bottom: 1px solid #dedede;
    }
   .borderlist >.item-md:last-child.item-block .item-inner  {
     border-bottom : 0px !important;
   }
    .maintimeline-item {
   background: #fff;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
    min-height: 165px;
}

.mainanimated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 200px;
    width: 95vw;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    margin-top: 32px;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.labelmargin .label-md{
      margin: 13px 5px 13px 5px;
}

.padding-left .label-md{
  margin:13px 0px 13px 0px
}
ion-scroll[scrollX] .scroll-item:first-child{
  margin-left: 5px;
}
}
