<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar [color]="co" id="navbar">
    <ion-title>
      <ion-row>
        <ion-col col-6 text-left>
          Deals Locker Lite
        </ion-col>
        <ion-col col-6 text-right>
          <span>
            <ion-icon
              ios="ios-notifications"
              md="md-notifications"
              (click)="goToNotification()"
              class="iconspace"
              style="margin-left: 5px;
              font-size:1.3rem;"
            ></ion-icon>
          </span>

          <ion-icon
            ios="ios-notifications"
            md="md-star"
            (click)="goToFav()"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #pageContent fullscreen>
  <!-- <div class="header-image"></div> -->
  <ng-container *ngIf="mainslide.length > 0; else elseTemplate">
    <ion-slides
      *ngIf="mainslide.length > 0"
      pager
      speed="1000"
      effect="slides"
      class="mainslide"
      autoplay="1000"
      loop="true"
    >
      <ion-slide *ngFor="let item of mainslide">
        <img
          [src]="item.image"
          alt="../../assets/logo.png"
          class="header-image"
        />
      </ion-slide>
    </ion-slides>
  </ng-container>
  <ng-template #elseTemplate style="height:40vh">
    <div style="height:40vh">
      <ion-spinner
        name="bubbles"
        style="margin-top: 20vh;
    margin-left: 49vw;"
      >
      </ion-spinner>
    </div>
  </ng-template>
  <ng-container *ngIf="isConnected; then connected; else notconnected">
  </ng-container>
  <ng-template #connected class="main-content">
    <!-- top shops -->
    <cardgrid></cardgrid>

    <!-- top brands  -->
    <h3>Top brands</h3>
    <ng-container *ngIf="brands.length > 0; else loading">
      <ion-row>
        <ion-item no-lines class="leftpadding">
          <ion-scroll scrollX="true" scroll-avatar>
            <ion-avatar>
              <img
                src="../../assets/imgs/logo.png"
                class="scroll-item"
                style="border: 1px solid grey;"
                *ngFor="let item of brands"
              />
            </ion-avatar>
          </ion-scroll>
        </ion-item>
      </ion-row>
    </ng-container>
    <ng-template #loading>
      <ion-spinner name="bubbles"></ion-spinner>
    </ng-template>

    <!-- Ads -->
    <!-- <ion-row>
      <ion-col col-12>
        <slide [items]="mainslide"></slide>
      </ion-col>
    </ion-row> -->

    <!-- Food -->
    <ion-row>
      <ion-col col-12 text-center>
        <h2>Food</h2>
      </ion-col>
    </ion-row>

    <!-- <ng-container *ngIf="food.length > 0; else loading">
      <cardslide [items]="food"></cardslide>
    </ng-container>
    <ng-template #loading>
      <ion-spinner name="bubbles"></ion-spinner>
    </ng-template> -->

    <ion-row *ngFor="let item of catego; let i = index" class="mycatego">
      <ion-col col-12>
           <ion-row>
      <ion-col col-12 text-center>
        <h2>{{item.first_name}}</h2>
      </ion-col>
    </ion-row>
    <ng-container >
      <cardslide [items]=item.category [type]="'store'"></cardslide>
    </ng-container>
    <ng-template #loading>
      <ion-spinner name="bubbles"></ion-spinner>
    </ng-template>
      </ion-col>
       <singleadd *ngIf="(i % 3) == 0"></singleadd>
       
    </ion-row>

    <!-- Single Add -->
    <singleadd></singleadd>

    <!-- <ng-container *ngIf="thirdpage">
      
      <ion-row>
        <ion-col col-12 text-center>
          <h2>Shoes</h2>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="shoes.length > 0; else loading">
        <cardslide [items]="shoes"></cardslide>
      </ng-container>
      <ng-template #loading>
        <ion-spinner name="bubbles"></ion-spinner>
      </ng-template>

  
      <ion-row>
        <ion-col col-12 text-center>
          <h2>Accessories</h2>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="accessories.length > 0; else loading">
        <cardslide [items]="accessories"></cardslide>
      </ng-container>
      <ng-template #loading>
        <ion-spinner name="bubbles"></ion-spinner>
      </ng-template>

    
      <ion-row>
        <ion-col col-12 text-center>
          <h2>Entertainment</h2>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="entertainment.length > 0; else loading">
        <cardslide [items]="entertainment"></cardslide>
      </ng-container>
      <ng-template #loading>
        <ion-spinner name="bubbles"></ion-spinner>
      </ng-template>
    </ng-container> --> 
  </ng-template>
  <ng-template #notconnected>
    <h3>Please connecet to internet</h3>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- 
    <ion-row>
      <ion-item no-lines class="leftpadding">
        <ion-scroll scrollX="true" scroll-avatar>
          <ion-avatar>
            <img
              src="../../assets/imgs/logo.png"
              class="scroll-item"
              style="border: 1px solid grey;"
            />
            <img
              src="../../assets/imgs/1.png"
              class="scroll-item"
              style="border: 1px solid grey;"
            />
            <img
              src="../../assets/imgs/2.jpg"
              class="scroll-item"
              style="border: 1px solid grey;"
            />
            <img
              src="../../assets/imgs/3.png"
              class="scroll-item"
              style="border: 1px solid grey;"
            />
            <img
              src="../../assets/imgs/4.png"
              class="scroll-item"
              style="border: 1px solid grey;"
            />
            <img
              src="../../assets/imgs/6.png"
              class="scroll-item"
              style="border: 1px solid grey;"
            />
          </ion-avatar>
        </ion-scroll>
      </ion-item>
    </ion-row>
 -->
