<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar  id="navbar">
    <ion-title>
      <ion-row>
        <ion-col col-6 text-left>
          <span class=""> Deals Locker</span>
        </ion-col>
        <ion-col col-6 text-right>
          <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline" (click)="goToNotification()" class="iconspace"
            style="margin-left: 5px;font-size: 1.4em"></ion-icon>
          <ion-icon ios="ios-star-outline" md="ios-star-outline" (click)="goToFav()" style="margin-right: 15px;font-size: 1.4em;"> </ion-icon>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #pageContent fullscreen>
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <!-- Sliders -->

  <ng-container *ngIf="isConnected; then connected; else notconnected">
  </ng-container>

  <ng-template #connected class="main-content">
    <ng-container *ngIf="mainslide.length > 0; else elseTemplate">
      <ion-slides *ngIf="mainslide.length > 0" pager speed="1000" effect="slides" class="mainslide" autoplay="1000"
        loop="true">
        <ion-slide *ngFor="let item of mainslide">
          <img src="{{ item.Logo }}" alt="" class="header-image" />
        </ion-slide>
      </ion-slides>
    </ng-container>
    <ng-template #elseTemplate style="height:40vh">
      <!-- <div style="height:200px">
        <ion-row text-center>
          <ion-col col-12>
              <img src="../../assets/banner2.jpg" alt="" class="header-image" />
          </ion-col>
        </ion-row>
      </div> -->
      <ion-slides pager speed="1000" effect="slides" class="mainslide" autoplay="1000" loop="true">
        <ion-slide>
          <img src="../../assets/b.jpg" alt="" class="header-image" />
        </ion-slide>
      </ion-slides>
    </ng-template>
    <!-- top shops -->
    <ion-row>
      <ion-col col-12>
        <cardgrid></cardgrid>
      </ion-col>
    </ion-row>

    <!-- <ion-row text-left>
      <ion-col col-12>

        <ng-container *ngIf="brands.length > 0">
          <h4>Top brands</h4>
          <ion-row>
            <ion-item no-lines class="leftpadding">
              <ion-scroll scrollX="true" scroll-avatar style="height:130px;">
                <div class="container" class="scroll-item" *ngFor="let item of brands;let i = index"  (click)="brandMethod(item)">
                <div class="image"></div>
                <img src="{{item.Logo}}" alt="" class="inner-image" />
                </div>
              </ion-scroll>
            </ion-item>
          </ion-row>
        </ng-container>
        <ng-template #loading>
          <ion-spinner name="bubbles"></ion-spinner>
        </ng-template>
      </ion-col>
    </ion-row> -->
    <ion-row text-left>
      <ion-col col-12>
        <ng-container *ngIf="brands.length > 0">
          <h4>Top brands</h4>
          <ion-row>
            <ion-item no-lines class="leftpadding">
              <ion-scroll scrollX="true" scroll-avatar style="height:130px;">
                <div
                  class="container"
                  class="scroll-item"
                  *ngFor="let item of brands;let i = index"
                  (click)="brandClick(item)"
                >
                  <div
                    class="image"
                    [ngClass]="{'even': i%2 == 0 , 'odd': i%2 !=0}"
                  ></div>
                  <img src="{{item.Logo}}" alt="" class="inner-image" />
                </div>
              </ion-scroll>
            </ion-item>
          </ion-row>
        </ng-container>
        <ng-template #loading>
          <ion-spinner name="bubbles"></ion-spinner>
        </ng-template>
      </ion-col>
    </ion-row>
    <!-- Substores -->
    <ion-row>
      <ion-col col-12 text-left>
        <h4 *ngIf="substores.length >= 1" style="margin-top: 0px;">Stores by Category</h4>
      </ion-col>

      <ion-col col-12 *ngIf="substores.length > 0">
        <ion-row>
          <ion-col col-4 text-center *ngFor="let item of substores; index as i">
            <ion-item (click)="goToPage(item)" item-start>
              <img src="{{item.Logo}}" alt="" />
              <p style="text-align: center">{{ item?.Name }}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col col-3 *ngFor="let item of store">
        <img src="../../assets/amazon-logo.png" alt="" />
        <p style="text-align: center;">{{ item.Name }}</p>
      </ion-col>
    </ion-row> -->
    <!-- Store category with store links -->
    <ng-container *ngIf="store.length > 0">
      <ng-container *ngFor="let item of store; let i = index">
        <ion-row *ngIf="item?.Name != 'Shop By Category'" class="mycatego">
          <!-- <ion-col col-12 text-center>
            <h2>{{ item?.Name }}</h2>
          </ion-col> -->
          <ion-col col-12 text-center class="nopadding">
            <dealsgrid [items]="item" [type]="'stores'" *ngIf="item?.ID"></dealsgrid>
          </ion-col>

        </ion-row>
        <!-- <singleadd *ngIf="i % 3 == 0 && i !== 0 && i !== store.length" [in]="i"></singleadd> -->
      </ng-container>
    </ng-container>
    <ion-row *ngIf="lastStore">
      <ion-col col-12>
        <h1>No more stores</h1>
      </ion-col>
    </ion-row>
    <ng-template #loading>
      <ion-spinner name="bubbles"></ion-spinner>
    </ng-template>
    <!-- Single Add -->
    <!-- <singleadd></singleadd> -->
  </ng-template>
  <ng-template #notconnected>
    <h3>Please connecet to internet</h3>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>