<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar id="navbar">
    <ion-title>
      <ion-row>
        <ion-col col-6 text-left>
          <span class="tracking-in-expand"> Deals Locker</span>
        </ion-col>
        <ion-col col-6 text-right>
          <ion-icon
            ios="ios-notifications-outline"
            md="ios-notifications-outline"
            (click)="goToNotification()"
            class="iconspace"
            style="margin-left: 5px;font-size: 1em"
          ></ion-icon>
          <ion-icon
            ios="ios-star-outline"
            md="ios-star-outline"
            (click)="goToFav()"
            style="font-size: 1em;"
          >
          </ion-icon>
          <ion-icon
            ios="ios-search"
            md="md-search"
            style="margin-left: 5px;font-size: 1em"
            (click)="search()"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #pageContent fullscreen contentBottom=100>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher> -->

  <ng-container *ngIf="isConnected; then connected; else notconnected">
  </ng-container>

  <ng-template #connected class="main-content">
    <ng-container *ngIf="adsData.length > 0; else elseTemplate">
      <ion-slides
        *ngIf="adsData.length > 0"
        pager
        speed="1000"
        effect="slides"
        class="mainslide"
        loop="true"
        autoplay=3000
      >
        <ion-slide *ngFor="let item of adsData">
          <img src="{{ item.Logo }}" alt="" class="header-image" (click)="goToAds(item)"/>
        </ion-slide>
      </ion-slides>

    </ng-container>
    <ng-template #elseTemplate style="height:40vh">
       
        <div class="maintimeline-wrapper">
    <div class="maintimeline-item">
        <div class="mainanimated-background">
            <div class="mainbackground-masker header-top"></div>
        </div>
         
    </div>
</div>
      <!-- <ion-slides
        pager
        speed="1000"
        effect="slides"
        class="mainslide"
        
        loop="true"
      >
        <ion-slide (click)="gotToAds()">
          <img src="../../assets/Formals.png" alt="" class="header-image" />
        </ion-slide>
      </ion-slides> -->
    </ng-template>

    <ion-row style="border-bottom: 1px solid #dedede;">
      <ion-col col-12>
        <cardgrid></cardgrid>
      </ion-col>
    </ion-row >
    <ion-row text-left>
      <ion-col col-12>
        <ng-container *ngIf="topVisitedStores.length > 0">
          <h5 class="focus-in-expand">Your Top Stores</h5>
          <ion-row>
            <ion-item  class="">
              <ion-scroll scrollX="true" scroll-avatar style="height:75px;">
                <ion-card
                  class="scroll-item visitedlargecard"
                  *ngFor="let item of topVisitedStores;let i = index"
                  (click)="goToTopVisitedStore(item.data)"
                >
                  <ion-card-content style="padding:0px">
                    <img
                      src="{{ item.data.Logo }}"
                      style="width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)"
                    />
                  </ion-card-content>
                </ion-card>
              </ion-scroll>
            </ion-item>
          </ion-row>
        </ng-container>
        <ng-template #loading>
          <ion-spinner name="bubbles"></ion-spinner>
        </ng-template>
      </ion-col>
    </ion-row>
        <ion-row  *ngIf="mVisitedDeals.length > 0">
      <ion-col col-12>
        <h5>Your Top Category</h5>
       <ion-item class="paddingleft">
          <ion-scroll scrollX="true" scroll-avatar class="dealslargecardcontainer">
            <div
              class="scroll-item dealslargecard"
              (click)="getVistedDeal(item)"
              *ngFor="let item of mVisitedDeals; index as i"
            >
              <ng-container>
                <img
                  src="{{ item.data.Logo }}"
                  class="dealscardimage"
                />
                <!-- </ion-img> -->
                <div class="overlay-effect h-100 w-100"></div>
                <p
                  class="textstyle"
                  style="
    text-overflow: ellipsis;overflow: hidden;left: 5px;font-size: 12px;"
                  text-center
                >
                  {{ item.data.Name }}
                </p>
              </ng-container>
            </div>
          </ion-scroll>
          <ng-template #loading>
            dfjghfjkdghjkh
          </ng-template>
        </ion-item>
      </ion-col>
      
    </ion-row>
    <!-- <ion-row text-left>
      <ion-col col-12>
        <ng-container *ngIf="brands.length > 0">
          <h4>Top brands</h4>
          <ion-row>
            <ion-item no-lines class="leftpadding">
              <ion-scroll scrollX="true" scroll-avatar style="height:130px;">
                <div
                  class="container"
                  class="scroll-item"
                  *ngFor="let item of brands;let i = index"
                  (click)="onTopBrandClick(item)"
                >
                  <div
                    class="image"
                    [ngClass]="{'even': i%2 == 0 , 'odd': i%2 !=0}"
                  ></div>
                  <ion-img
                    src="{{item.Logo}}"
                    alt=""
                    class="inner-image"
                    style="min-width: 60px;min-height:30px;"
                  ></ion-img>
                </div>
              </ion-scroll>
            </ion-item>
          </ion-row>
        </ng-container>
        <ng-template #loading>
          <ion-spinner name="bubbles"></ion-spinner>
        </ng-template>
      </ion-col>
    </ion-row> -->

    <ion-row style="border-bottom: 1px solid #dedede;">
      <ion-col col-12 text-left>
        <h5 *ngIf="substores.length >= 1" style="margin-top: 0px;">
          Stores by Category
        </h5>
      </ion-col>

      <ion-col col-12 *ngIf="substores.length > 0" style="    border-bottom: 1px solid #dedede;">
        <ion-row>
          <ion-col
            col-4
            text-center
            *ngFor="let item of substores; index as i"
            class="substores"
            [@photosAnimation]="substores.length"
          >
            <div (click)="goToPage(item)" item-start style="border-bottom:0px">
              <img src="{{item.Logo}}" alt="" style="border-radius: 10%;"/>
              <p style="text-align: center;margin:0px">{{ item?.Name }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="store.length > 0">
      <ion-list class="borderlist" style="margin:-1px 0 30px">
        <ion-item *ngFor="let item of store; let i = index" class="labelmargin">
            <ng-container>
        <ion-row
          *ngIf="item?.Name != 'Shop By Category'"
          class="mycatego animated pulse"
        >
          <ion-col col-12 text-center class="nopadding" sytle="margin-bottom:100px;">
            <dealsgrid
              [items]="item"
              [type]="'stores'"
              *ngIf="item?.ID"
            ></dealsgrid>
          </ion-col>
        </ion-row>
      </ng-container>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
   <ion-row text-center>
      <ion-col col-12>
        <h2
          style="font-family:GloriaHallelujah-Regular;color:#ff6700;  margin: 0px;"
          class="animated infinite pulse"
        >
          No more stores
        </h2>
      </ion-col>
    </ion-row>
    </ng-container>
   
    <!-- <ng-template #loading>
      <ion-spinner name="bubbles"></ion-spinner>
    </ng-template> -->
  </ng-template>
  <ng-template #notconnected>
   <ion-row>
      <ion-col col-12 class="nointernetimage">
      
      <img
        src="../../assets/nointernetbg.png"
        alt=""
        style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;"
      />
   
      </ion-col>
    </ion-row>
  </ng-template>



</ion-content>
