page-notification {
    .toolbar-background-md {
        background: transparent;

    }

    .toolbar-title-md {
        color: black;
    }

    .slide-zoom {
        height: 95%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    // .bar-button-default-md,
    // .bar-button-clear-md-default,
    // .bar-button-md-default {
    //     color: black;
    // }

    .toolbardnp{
        padding:0px;
    }
    .toolbar-background-md {
    background: transparent;
  }

  .segment-md .segment-button{
      color:black !important;
  }

  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
      color:orangered !important;
      border-bottom:3px solid orangered;
  }
}