<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Notifications
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top class="toolbardnp">
    <ion-segment [(ngModel)]="segments">
      <ion-segment-button value="popular" (click)="selectTab(0)" value="0">
        Push
      </ion-segment-button>
      <ion-segment-button value="all" (click)="selectTab(1)" value="1">
        All
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides
    #pageSlider
    (ionSlideWillChange)="changeWillSlide($event)"
    effect="slide"
    speed="800"
  >
    <ion-slide>
      <ion-card
        [ngClass]="{ secondclass: true }"
        *ngFor="let item of pushNotification"
      >
        <ion-card-content style="padding:7px 16px;padding-bottom: 0px;">
          <ion-row>
            <ion-col col-8>
              <h4>{{ item.Name }}</h4>
              <p>
                {{ item.Description }}
              </p>
            </ion-col>
            <ion-col col-4>
              <img src="../../assets/arrow.jpg" class="dealsimage" />
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button
              ion-button
              clear
              small
              color="danger"
              icon-start
              (click)="setDealAsFav(item)"
            >
              <ion-icon name="star"></ion-icon>
              Favorite
            </button>
          </ion-col>
          <ion-col text-center>
            <button
              ion-button
              clear
              small
              color="danger"
              icon-start
              (click)="remindBtn(item)"
            >
              <ion-icon name="musical-notes"></ion-icon>
              Remind
            </button>
            <!-- <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="item.time" (ionChange)="setData(item)" style="padding-top:0px">
      </ion-datetime>  -->
          </ion-col>
          <ion-col text-right>
            <button
              ion-button
              clear
              small
              color="danger"
              icon-start
              (click)="getDeal()"
            >
              <ion-icon name="share-alt"></ion-icon>
              Buy
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-card
          [ngClass]="{ secondclass: true }"
          *ngFor="let item of localNotification"
        >
          <ion-card-content style="padding:7px 16px;padding-bottom: 0px;">
            <ion-row>
              <ion-col col-8>
                <h4>{{ item.data.Name }}</h4>
                <p>
                  {{ item.data.Description }}
                </p>
              </ion-col>
              <ion-col col-4>
                <img src="../../assets/arrow.jpg" class="dealsimage" />
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col>
              <button
                ion-button
                clear
                small
                color="danger"
                icon-start
                (click)="setDealAsFav(item)"
              >
                <ion-icon name="star"></ion-icon>
                Favorite
              </button>
            </ion-col>
            <ion-col text-center>
              <button
                ion-button
                clear
                small
                color="danger"
                icon-start
                (click)="remindBtn(item)"
              >
                <ion-icon name="musical-notes"></ion-icon>
                Remind
              </button>
              <!-- <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="item.time" (ionChange)="setData(item)" style="padding-top:0px">
      </ion-datetime>  -->
            </ion-col>
            <ion-col text-right>
              <button
                ion-button
                clear
                small
                color="danger"
                icon-start
                (click)="getDeal()"
              >
                <ion-icon name="share-alt"></ion-icon>
                Buy
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-list>
    </ion-slide>
  </ion-slides>
  <!-- <ion-card style="margin-top:75px;" *ngFor="let item of de">
  <img src="../../assets/imgs/logo.png" style="width: 150px;
    margin-top: -39px;
    z-index: 91554;
    position: absolute;"/>
  <ion-card-content>
    <p style="margin-left: 150px;">
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>
   <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start (click)="save()">
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='musical-notes'></ion-icon>
        Buy
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

</ion-card> -->
</ion-content>
