// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #f53d3d,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  theme: #9455e6,
  
);

// App iOS Variables  
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

//
$toolbar-background: white;
$text-input-highlight-color-valid: #488aff;
$text-input-md-show-focus-highlight: map-get($colors,primary);
$alert-md-button-text-color: black;
// $segment-button-md-text-color-activated: orangered;
$segment-button-md-border-color-activated: map-get($colors,primary); // App Windows Variables

$searchbar-md-input-search-icon-color: map-get($colors,primary);
$searchbar-md-input-search-icon-size: 25px;
$tabs-background:#ffff;
$text-input-md-highlight-color:black;
$label-md-text-color-focused:#fb595e;
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

.platform-android5 {
ion-header {
margin-top: 24px;
}
}

.platform-android6 {
ion-header {
margin-top: 24px;
}
}

.platform-android7 {
ion-header {
margin-top: 24px;
}
}
.platform-android8 {
ion-header {
margin-top: 24px;
}
}
.platform-android9 {
ion-header {
margin-top: 24px;
}
}

.platform-android10 {
ion-header {
margin-top: 24px;
}
}

// .segment-ios-theme .segment-button {
//   border-color: orangered;
//   color: black;
// }

.segment-md .segment-button{
   border-color: orangered;
  color: black;
}

.fab-md{
  background: map-get($colors,primary)
}

$toolbar-md-title-text-color: map-get($colors,theme);

ion-toast{
  top:24px !important;
}

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
