// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: "Source Code Pro";
  src: url("../assets/fonts/SourceCodePro-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}


@font-face {
 font-family: 'Solway', serif;
  src: url("../assets/fonts/Solway-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "McLaren-Regular";
  src: url("../assets/fonts/McLaren-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Neucha";
  src: url("../assets/fonts/McLaren-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CarterOne-Regular";
  src: url("../assets/fonts/CarterOne-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../assets/fonts/Ubuntu-Medium.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Literata", serif;
  src: url("../assets/fonts/BLiterata-Italic-VariableFont_wght.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
 font-family: 'Merienda';
  src: url("../assets/fonts/Merienda-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
 font-family:'Permanent Marker';
  src: url("../assets/fonts/PermanentMarker-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
 font-family:'GloriaHallelujah-Regular';
  src: url("../assets/fonts/GloriaHallelujah-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  
 font-family:'Roboto-Medium';
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
 font-family:'Roboto-Regular';
  src: url("../assets/fonts/Roboto-Regular.ttf");

}

@font-face {
 font-family: 'Pacifico-Regular';
  src: url("../assets/fonts/Pacifico-Regular.ttf");

}
@font-face {
font-family: 'Teko-Regular';
  src: url("../assets/fonts/Teko-Regular.ttf");

}
@font-face {
font-family: 'Galada-Regular';
  src: url("../assets/fonts/Galada-Regular.ttf");

}
@font-face {
font-family: 'Kalam-Regular';
  src: url("../assets/fonts/Kalam-Regular.ttf");

}

// span {
//    font-family: 'Source Code Pro';
//  }

p,
h1,
h2,
h3,
h4,
h5,
h6,
ion-item {
  font-family: "Merienda", serif;
  color: black;
}

h4,
h5,
h6 {
  margin-left: 10px;
}

.item-md p {
  color: black;
}

ion-content {
  // background: url('../assets/ba.jpg');
  // background: url(../assets/ba.jpg);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  // background-size: cover;
}

.header-md::after {
  background-image: none !important;
}

// .mymodal {
//   -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
//   box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
//   background-color: #fafafa;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   height: 35vh;
//   width: 90%;
//   border-radius: 10px;
// }

.linkmodal {
  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 90%;
  border-radius: 10px;
}

.addBackground {
  background: white !important;
  transition: background-color 500ms linear;
}

.transparentBackground {
  background: white !important;
  color: orangered;
  transition: background-color 500ms linear;
  opacity: 0.8;
}

// .toolbar-background-md{
//   background-color: rgba(0, 0, 0, 0.3);
// }

.notitle {
  opacity: 0;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: orangered;
  -webkit-box-shadow: inset 0 -1px 0 0 orangered;
  box-shadow: inset 0 -1px 0 0 orangered;
}



@include media-breakpoint-down(sm) {
.my-modal {
    ion-backdrop {
      visibility: visible !important;
    }
    .modal-wrapper {
      border-radius: 10px 10px 0px 0px;
      overflow: hidden;
      top: 50%;
      left: 0;
      position: absolute;
      width: 100%;
      height: 50%;
    }
  }
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: orangered;
  -webkit-box-shadow: inset 0 -1px 0 0 orangered;
  box-shadow: inset 0 -1px 0 0 orangered;
}

.addcolortitle {
  // color: black !important;
}

ion-router-outlet > .ion-page {
  animation: fadeIn 0.3s 1 forwards;
}

// .tabs-md .tab-button[aria-selected=true] {
//     animation: fadeIn 0.3s 1 forwards;
// }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 5vh, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: #9455e6;
}

.centerboximage {
  margin: 8px auto;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  display: block;
  width: 140px;
}

.toolbar-title-md {
  // color: #9b45e4 !important;
font-size: 2.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;

  padding: 0px 0px !important;
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toolbar-md {
  min-height: 60px;
}

.show-less {
  height: 19vh;
  overflow: hidden;
}
ion-img {
  background: white !important;
  min-height: 130px;
}

::-webkit-scrollbar {
  display: none;
}



// .tabs-md .tab-button[aria-selected="true"] .tab-button-icon {
//   // color: orangered;
//      content: url(../../assets/fhome.png);
//     width: 40px;
// }

.tabs-md .tab-button[aria-selected="true"] {
  // color: orangered;
color: #9455e6;
}

// .button-md{
//   background:orangered;
//   color: white;
// }

// .fab-md {
//   color: white;
//   background: orangered;
// }

// three classes for top brands outer image and inner image
div.image.even {
  content: url(../../assets/a3.png);
}
div.image.odd {
  content: url(../../assets/a2.png);
}
.inner-image {
  position: absolute;
  top: 40%;
  left: 7%;
  width: 100px;
}

// .titlecolormargin {
//   padding-left: 9px;
//   color: black;
// }

.refresher-active {
  top: 0px !important;
}
 .has-refresher > .scroll-content {
    border-top: 0px !important;
  }



  .alert-md .alert-radio-inner{
    background-color: #fb595e !important;
  }
  .alert-md [aria-checked=true] .alert-radio-icon {
    border-color: #fb595e;
  }

   .dealsimage {
    z-index: 91554;
    // -webkit-box-shadow: 0 8px 6px -6px black;
    // -moz-box-shadow: 0 8px 6px -6px black;
    // box-shadow: 0 8px 6px -6px black;
    width:80px;
  }
  .overflowtext{
      white-space: nowrap;
    /* width: 50px; */
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-img img{
  margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


   .slide-zoom {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }


 .nointernetimage{
    width: 250px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .waitlinkmodal{
    left: 5%;
    top: calc(50% - 100px);
    position: absolute;
    display: block;
    width: 90%;
    height: 200px;
    contain: strict;
    /* z-index: 11111111111158; */
    border-radius: 20px;
  }


  .tabs-md .tabbar {
    background: #F8F8F8 !important;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-21 16:45:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-21 16:49:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  //  ion-infinite-scroll-content[state=disabled]{
  //     display: block !important;
  //   }
   

//  .scroll-content{
//       height: 94% !important;
//     }

//  .header-md::after{
//     left: 0 !important;
//     bottom: 2px !important;
//     background-position: left 0 top -2px !important;
//     position: absolute !important;
//     width: 100% !important;
//     height: 5px !important;
//     background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==") !important;
//     background-repeat: repeat-x !important;
//     content: "" !important;
//   }

// .back-button-icon-md{
//   margin-bottom:24px;
// }

// .tab-button-icon.icon.icon-md.ion-ios-home{
//   content: url(../../assets/home.png);
//     width: 40px;
// }
.tab-button-icon.icon.icon-md.ion-ios-home-outline{
  content: url(../../assets/homelatest.png);
  height: 25px;
  width: 27px;
    
}

.tab-button-icon.icon.icon-md.ion-ios-information-circle-outline{
 content: url(../../assets/dealslatest.png);
    height: 25px;
}

.tab-button-icon.icon.icon-md.ion-ios-contacts-outline{
  content: url(../../assets/serviceslatest.png);
 height: 25px;   
}

.tab-button-icon.icon.icon-md.ion-ios-settings-outline{
  content: url(../../assets/personal.png);
height: 25px;    
}

.tabs-md .tab-button[aria-selected="true"] .tab-button-icon.tab-button-icon.icon.icon-md.ion-ios-home {
     content: url(../../assets/homelatestfill.png);
   height: 30px;
   width: 30px;
}
.tabs-md .tab-button[aria-selected="true"] .tab-button-icon.tab-button-icon.icon.icon-md.ion-ios-information-circle {
     content: url(../../assets/fdealslatest.png);
   height: 30px;
}
.tabs-md .tab-button[aria-selected="true"] .tab-button-icon.tab-button-icon.icon.icon-md.ion-ios-contacts {
     content: url(../../assets/fservices.png);
height: 30px;
}
.tabs-md .tab-button[aria-selected="true"] .tab-button-icon.tab-button-icon.icon.icon-md.ion-ios-settings {
     content: url(../../assets/fpersonal.png);
 height: 30px;
}