// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
   font-family: 'Source Code Pro';
   src: url('../assets/fonts/SourceCodePro-Regular.ttf');
   font-weight: 200;
   font-style: normal;
 }

 @font-face {
   font-family: 'PlayfairDisplay-Regular';
   src: url('../assets/fonts/PlayfairDisplay-Regular.ttf');
   font-weight: 200;
   font-style: normal;
 }

  @font-face {
   font-family: 'McLaren-Regular';
   src: url('../assets/fonts/McLaren-Regular.ttf');
   font-weight: 200;
   font-style: normal;
 }

   @font-face {
   font-family: 'Neucha';
   src: url('../assets/fonts/McLaren-Regular.ttf');
   font-weight: 200;
   font-style: normal;
 }

 
   @font-face {
   font-family: 'CarterOne-Regular';
   src: url('../assets/fonts/CarterOne-Regular.ttf');
   font-weight: 200;
   font-style: normal;
 }

  
   @font-face {
   font-family: 'Ubuntu-Medium';
   src: url('../assets/fonts/Ubuntu-Medium.ttf');
   font-weight: 200;
   font-style: normal;
 }

    @font-face {
   font-family: 'Literata', serif;
   src: url('../assets/fonts/BLiterata-Italic-VariableFont_wght.ttf');
   font-weight: 200;
   font-style: normal;
 }
// span {
//    font-family: 'Source Code Pro';
//  }

 p,h1,h2,h3,h4,h5,h6,ion-item{
   
  font-family: 'Literata', serif;
    color:black
 }


 h4,h5,h6{
   margin-left:10px;
 }

  .item-md p{
  
    color:black
  }


ion-content {
  // background: url('../assets/ba.jpg');
  // background: url(../assets/ba.jpg);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  // background-size: cover;
}

.header-md::after {
  background-image: none !important;
}

.mymodal {
  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35vh;
  width: 90%;
  border-radius: 10px;
}

.linkmodal{
  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 90%;
  border-radius: 10px;
}

.addBackground {
  background: white !important;
  transition: background-color 500ms linear;
}

.transparentBackground {
  background: transparent !important;
  color: orangered;
  transition: background-color 500ms linear;
  opacity: 0.8;
}

// .toolbar-background-md{
//   background-color: rgba(0, 0, 0, 0.3);
// }

.notitle {
  opacity: 0;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: orangered;
  -webkit-box-shadow: inset 0 -1px 0 0 orangered;
  box-shadow: inset 0 -1px 0 0 orangered;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: orangered;
  -webkit-box-shadow: inset 0 -1px 0 0 orangered;
  box-shadow: inset 0 -1px 0 0 orangered;
}

.addcolortitle {
  color: black !important;
}

ion-router-outlet > .ion-page {
  animation: fadeIn 0.3s 1 forwards;
}

// .tabs-md .tab-button[aria-selected=true] {
//     animation: fadeIn 0.3s 1 forwards;
// }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 5vh, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: orangered;
}

.centerboximage {
  margin: 8px auto;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  display: block;
  width: 140px;
}

.toolbar-title-md {
  color: white;
  font-family: 'CarterOne-Regular';
  padding:0px 0px !important;
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toolbar-md {
  min-height: 60px;
}


.show-less {
  height: 19vh;
  overflow: hidden;
}
ion-img {
  background: white !important;
  min-height: 130px;
}

::-webkit-scrollbar {
  display: none;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color:orangered;
}

.tabs-md .tab-button[aria-selected=true]{
  color:orangered;
}

// .button-md{
//   background:orangered;
//   color: white;
// }

.fab-md{
  color:white;
  background: orangered;
}

// three classes for top brands outer image and inner image
  div.image.even {
    content: url(../../assets/a3.png);
  }
  div.image.odd {
    content: url(../../assets/a2.png);
  }
    .inner-image {
    position: absolute;
    top: 40%;
    left: 7%;
    width: 100px;
}

.titlecolormargin{
 padding-left: 9px;
  color:black;
}


// .back-button-icon-md{
//   margin-bottom:24px;
// }


