page-stabs {
 .toolbar-md {
padding:0px;
min-height: 62px;
}
//  .scroll-content {
//     padding: 0px !important;
//     margin-top: 127px !important;
// }
  .label-md {
    margin: 0px !important;
  }

  .list-md .item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: 0px !important;
  }

  .item-md {
    padding-left: 0px !important;
    background-image: linear-gradient(109.6deg, #ecf0f7 11.2%, #f8f8fc 91.1%);
  }
  .toolbar-title-md {
    color: black !important;
  }
  .scroll-content {
    padding: 0px !important;
    margin-top: 120px !important;
  }

  ion-slides {
    height: 100% !important;
    background-image: linear-gradient(
      109.6deg,
      rgba(236, 240, 247, 1) 11.2%,
      rgba(248, 248, 252, 1) 91.1%
    );
    margin-top: 30px;
  }
  .SwipedTabs-indicatorSegment {
    // -webkit-transition: 0.2s all;
    // -moz-transition: 0.2s all;
    // -o-transition: 0.2s all;
    // transition: 0.2s all;
    // transform-origin: top 0 left 0;
    // height: 3px;
    // position: relative;
    // top: -2px;
    // background-color: #ff6700 !important;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transform-origin: top 0 left 0;
    transform-origin: top 0 left 0;
    height: 4px;
    position: relative;
    top: 0px;
    background-color: #9455e6 !important;
  }

  .SwipedTabs-tabs ion-segment-button {
    border: none !important;
    color: black !important;
    background-color: white !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab {
    color: #9455e6 !important;
    font-weight: 700;
  }

  .SwipedTabs-tabs {
    width: fit-content !important;
  }

  .toolbar * {
    margin: 0 !important;
  }

  .tabsContent .scroll-content {
    overflow-x: scroll !important;
  }

  .tabsContent {
    height: 57px !important;
  }

  .segment-button {
    max-width: initial !important;
    flex: auto !important;
    width: initial !important;
  }


.ios {
  page-googleplay-tabs {
    .SwipedTabs-indicatorSegment {
      position: relative;
      top: 44px !important;
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .scroll-content {
    padding-top: 0 !important;
  }
  // .slide-zoom {
  //   height: 100%;
  // }

  ion-img {
    min-height: 75px !important;
  }
  .swiper-slide img {
    width: 80px !important;
    height: 60px !important;
    max-height: 60px !important;
    max-width: 80px !important;
  }

  .segment-md .segment-button {
    font-size: 1.6rem !important;
    line-height: 3.4rem !important;

    background-image: linear-gradient(
      109.6deg,
      rgba(236, 240, 247, 1) 11.2%,
      rgba(248, 248, 252, 1) 91.1%
    );
  }

  .dealsimage {
    width: 80px !important;
  }

  ion-infinite-scroll-content {
    background-image: linear-gradient(
      109.6deg,
      rgba(236, 240, 247, 1) 11.2%,
      rgba(248, 248, 252, 1) 91.1%
    );
  }

  

  .slide-zoom {
    height: 100% !important;
  }
 
 

  // .header-md::after{
  //   background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==") !important;
  // }
}
//  .favClass{
//     content:url("../../assets/25533.jpg")
//   }
.tooltip {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
     width:90px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    right: 35px;
    top: 3px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.listcontent .scroll-content {
margin-top: 0px !important;
}

.listcontent .list-md {
  margin:0px;
}

.list-md .ion-item:first-child .label-md{
margin-top: 10px !important
}
 .list-md{

      margin: 6px 0 16px !important;
}


.button-small-md {
  padding:0 0.1rem !important;
}
.toolbar-content toolbar-content-md{
  height: 52px;
}
.tabsContent .scroll-content{
  z-index:32;
  top: 5px;
}

.toolbar-md{
  padding-top: 10px;
}
.card-md{
  margin:5px;
  width: calc(100% - 10px);
}
.overflowtext{
  font-family: Roboto-Regular;
  font-size: 1.5rem;
   white-space: normal;
}
.dealslist{
  // min-height: 171px;
}
}