<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <ion-toolbar
    style="padding-top: 0px;
    padding-bottom: 0px;"
  >
    <ion-content #MultiItemsScrollingTabs class="tabsContent">
      <ion-segment class="SwipedTabs-tabs">
        <ion-segment-button
          *ngFor="let tab of tabs ; let i = index "
          id="tabTitle{{i}}"
          value="IngoreMe"
          (click)="selectTab(i)"
          [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }'
        >
          <span *ngIf=" i !== 0">{{tab.Name}} 
          </span>
          <span *ngIf=" i == 0">All</span>
        </ion-segment-button>
      </ion-segment>
      <!-- here is our dynamic line  "indicator"-->
      <div id="indicator" class="SwipedTabs-indicatorSegment"></div>
    </ion-content>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-slides
    #SwipedTabsSlider
    (ionSlideDrag)="animateIndicator($event)"
    (ionSlideDidChange)="updateIndicatorPosition($event)"
    (ionSlideWillChange)="scrollIndicatiorTab($event)"
    (panend)="updateIndicatorPositionOnTouchEnd()"
    [pager]="false"
  >
    <ion-slide>
      <ng-container
        *ngIf="alldeals.length > 0; then thenTemplate; else elseTemplate"
      ></ng-container>
      <ng-template #thenTemplate>
        <ng-container>
          <ion-list  [@photosAnimation]="alldeals.length">
            <ion-item *ngFor="let item of alldeals"  >
              <ion-card
                class="dealslist"
                [ngClass]="{ secondclass: itemfav }"
                style="border-radius: 10px;"
               [@btnanimation]="item.state"
              >
                <ion-card-content style="padding:7px 6px;padding-bottom: 0px;">
                  <ion-row>
                    <ion-col col-3>
                      <img
                        src="{{item.Logo}}"
                        style="width: 80px !important;"
                      />
                    </ion-col>
                    <ion-col col-9 text-left>
                      <h3
                        style="
    font-size: 1.8rem;overflow: auto;
    text-overflow: ellipsis;font-family: Solway;"
                      >
                        {{ item.Name }}
                      </h3>
                      <h3>Coupon</h3>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <ion-row text-left>
                        <ion-col col-12>
                          <p class="overflowtext" style="overflow: auto;
    text-overflow: ellipsis;">
                            {{ item.ShortDescription }}
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
                <ion-row no-padding>
                  <ion-col col-4>
                    <button
                      ion-button
                      clear
                      small
                      color="danger"
                      icon-start
                      (click)="setDealAsFav(item)"
                    >
                      <ion-icon name="star"></ion-icon>
                      Favorite
                    </button>
                  </ion-col>
                  <ion-col col-4 text-center>
                    <button
                      ion-button
                      clear
                      small
                      color="danger"
                      icon-start
                      (click)="remindBtn(item)"
                    >
                      <ion-icon name="musical-notes"></ion-icon>
                      Remind
                    </button>
                  </ion-col>
                  <ion-col col-4 text-right>
                    <button
                      ion-button
                      clear
                      small
                      color="danger"
                      icon-start
                      (click)="getDeal(item)"
                    >
                      <ion-icon name="share-alt"></ion-icon>
                      Get Deal
                    </button>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-item>
          </ion-list>
        </ng-container>
      </ng-template>
      <ng-template #elseTemplate>
        <div style="height: 100%;width:100%;position: absolute;">
          <img
            src="../../assets/noproduct.png"
            alt=""
            style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);"
          />
          <h3
            style="    position: absolute;
    top: calc(50% + 90px);
    left: 50%;
    transform: translate(-50%, -50%);font-family:GloriaHallelujah-Regular;"
          >
            No Product
          </h3>
        </div>
      </ng-template>
    </ion-slide>

    <ng-container *ngFor="let item of tabs;index as i">
      <ion-slide *ngIf="i !== 0">
        <ng-container
          *ngIf="newItem?.length; then thenTemplate; else elseTemplate"
        ></ng-container>
        <ng-template #thenTemplate>
          <ion-list [@photosAnimation]="newItem.length">
            <ion-item *ngFor="let item of newItem">
              <ion-card
                class="dealslist"
                [ngClass]="{ secondclass: itemfav }"
                style="border-radius: 10px;"
                #dealcard
              >
                <ion-card-content style="padding:7px 6px;padding-bottom: 0px;">
                  <ion-row>
                    <ion-col col-3>
                      <img
                        src="{{item.Logo}}"
                        style="width: 80px !important;"
                      />
                    </ion-col>
                    <ion-col col-9 text-left>
                      <h3
                        style="
    font-size: 1.8rem;font-family: Solway;overflow: hidden;
    text-overflow: ellipsis;"
                      >
                        {{ item.Name }}
                      </h3>
                      <h3>Coupon</h3>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <ion-row text-left>
                        <ion-col col-12>
                          <p class="overflowtext" style="overflow: hidden;
    text-overflow: ellipsis;">
                            {{ item.ShortDescription }}
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
                <ion-row no-padding>
                  <ion-col col-4>
                    <button
                      ion-button
                      clear
                      small
                      color="danger"
                      icon-start
                      (click)="setDealAsFav(item)"
                    >
                      <ion-icon name="star"></ion-icon>
                      Favorite
                    </button>
                  </ion-col>
                  <ion-col col-4 text-center>
                    <button
                      ion-button
                      clear
                      small
                      color="danger"
                      icon-start
                      (click)="remindBtn(item)"
                    >
                      <ion-icon name="musical-notes"></ion-icon>
                      Remind
                    </button>
                  </ion-col>
                  <ion-col col-4 text-right>
                    <button
                      ion-button
                      clear
                      small
                      color="danger"
                      icon-start
                      (click)="getDeal(item)"
                    >
                      <ion-icon name="share-alt"></ion-icon>
                      Get Deal
                    </button>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-item>
          </ion-list>
        </ng-template>
        <ng-template #elseTemplate>
          <div style="height: 100%;width:100%;position: absolute;">
            <img
              src="../../assets/noproduct.png"
              alt=""
              style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);"
            />
            <h3
              style="    position: absolute;
    top: calc(50% + 90px);
    left: 50%;
    transform: translate(-50%, -50%);font-family:GloriaHallelujah-Regular;"
            >
              No Product
            </h3>
          </div>
        </ng-template>
      </ion-slide>
    </ng-container>
  </ion-slides>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      style="  background-image: linear-gradient( 109.6deg,  rgba(236,240,247,1) 11.2%, rgba(248,248,252,1) 91.1% );"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
