<ng-container *ngIf="cards.length !== 0">
  <ion-row>
    <ion-col col-12 text-center>
      <h2>{{ copyItem?.Name }}</h2>
    </ion-col>
  </ion-row>

  <cardslide
    [items]="copyItem"
    [type]="type"
    *ngIf="cards.length !== 0"
  ></cardslide>
</ng-container>
<ng-template #elseTemplate>
  <square [data]="copyItem" [type]="type" *ngIf="cards.length !== 0"></square>
</ng-template>

<!-- <ng-container>
  <ion-spinner name="bubbles" *ngIf="cards.length == 0"></ion-spinner>
</ng-container> -->
