<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar>
    <ion-title *ngIf="!searchBoxOpened">   <span class="titlecolormargin"> Deals</span></ion-title>
        

    <ion-searchbar
      [(ngModel)]="searcTerm"
      (ionInput)="onInput($event)"
      (ionCancel)="searchBoxOpened = false"
      [debounce]="500"
      [autocomplete]="on"
      [animated]="true"
      *ngIf="searchBoxOpened"
      style="height: 64px;
    width: 75vw;
    margin-left: 35px;"
      #searchbar
    >
    </ion-searchbar>
    <ion-buttons end>
      <button
        ion-button
        icon-only
        end
        *ngIf="searchBoxOpened"
        (click)="searchBoxOpened = false"
        style="font-size:1.8rem;"
      >
        <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button
        ion-button
        icon-only
        end
        *ngIf="!searchBoxOpened"
        (click)="searchBoxOpened = true; setFocus()"
      >
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="scrollHandler($event)" #content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-row text-center>
    <ion-col col-12>
      <h4 >Deals By Category</h4>
    </ion-col>
    <ion-col col-12>
      <ion-row>
        <ion-col col-4 text-center *ngFor="let item of subdeals; index as i">
          <ion-item (click)="goToPage(item)" item-start>
            <ion-avatar style="width: 106px;">
              <img
                src="{{ item.Logo }}"
                class="storeimage"
              />
              <p style="text-align: center">{{ item?.Name }}</p>
            </ion-avatar>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-12 text-center *ngIf="!showMore">
      <ion-col col-3>
        <button ion-button round (click)="toggleDisplay()" text-center>
          Show Less
        </button>
      </ion-col>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let item of deals; let i = index" class="mycatego">
    <ion-col col-12>
      <!-- <ion-row>
        <ion-col col-12 text-center>
          <h2>{{ item.Name }}</h2>
        </ion-col>
      </ion-row> -->
      <dealsgrid [items]="item" *ngIf="item.ID" type="deals"></dealsgrid>
      <ng-template #loading>
        <ion-spinner name="bubbles"></ion-spinner>
      </ng-template>
    </ion-col>
    <singleadd *ngIf="i % 3 == 0 && i !== 0"></singleadd>
  </ion-row>
  <ion-row *ngIf="lastStore">
    <ion-col col-12>
      <h6>No more stores</h6>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
