page-deals {
  .toolbar-background-md {
    background: transparent;
  }

  .toolbar-title-md {
    color: black;
  }
  .storeimage {
    width: 120px !important;
    height: 100px !important;
  }

  ion-item {
    padding: 0px;
    margin: 0px;
  }
  ion-avatar {
    margin: 0px;
  }
  .item-md ion-avatar[item-left],
  .item-md ion-thumbnail[item-left],
  .item-md ion-avatar[item-start],
  .item-md ion-thumbnail[item-start] {
    margin: 0px;
  }

  .storeimage {
    width: 106px !important;
    height: 100px !important;
  }
  .item-md ion-avatar img {
    width: 106px;
    height: 100px;
  }

  .label-md {
    margin: 0 !important;
  }

  .item-md {
    padding-left: 0px !important;
  }
  .item-md.item-block .item-inner {
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    border-bottom: 0px;
  }
  .show-less {
    height: 19vh;
    overflow: hidden;
  }

  // .col {
  //   padding: 0px !important;
  // }
  // ion-scroll[scroll-avatar] {
  //   height: 175px !important; // height: 140px;
  // }
  ion-img{
    min-height: 100px;
  }

  .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
    margin:5px 10px 5px 0 !important;
  }
 
  .item-md ion-thumbnail{
  min-width: 35px !important;
    min-height: 50px !important;
  }

  .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
    width: 30px;
    height: 30px;
  }
   ion-scroll {
    white-space: nowrap;
    height: 100%;
    margin-top: 10px;
  }

  // horizontal scroll of cards container , it will be removed from ionic 4( need edit )
  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 100px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
    }

    img {
      // margin: 5px;
       width: 30px;
      // height: 100%;
    }
  }
  .largecardcontainer {
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    height: 85px;
    margin-top: 0px;
  }

  // this is used for cards used to display stores and brands
  .largecard {
    position: relative;
    text-align: center;
    height: 70px;
    width: 75px;
    margin-right: 0px;
    padding: 0px;
    margin-left: 10px;
   
    border-radius: 10px;
  }
  .dealscardimage{
       width: 40px !important;
   
    margin-bottom: 3px;
    margin-top: 5px;
  }
}
