<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row>
        <ion-col col-6 text-left>
          <span class="tracking-in-expand"> Deals</span>
        </ion-col>
        <ion-col col-6 text-right>
          <ion-icon
            ios="ios-notifications-outline"
            md="ios-notifications-outline"
            (click)="goToNotification()"
            class="iconspace"
            style="margin-left: 5px;font-size: 1em"
          ></ion-icon>
          <ion-icon
            ios="ios-star-outline"
            md="ios-star-outline"
            (click)="goToFav()"
            style="font-size: 1em;"
          >
          </ion-icon>
          <ion-icon
            ios="ios-search"
            md="md-search"
            style="margin-left: 5px;font-size: 1em"
            (click)="search()"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ng-container
    *ngIf="isConnected; then thenTemplate; else notconnected"
  ></ng-container>
  <ng-template #thenTemplate>

  
    <ion-row>
      <ion-col col-12>
        <ion-list style="margin-left: 10px;" [@photosAnimation]="deals.length">
          <ion-item
            *ngFor="let item of deals "
            class="dealslist"
            (click)="getAllDeals(item)"
          >
            <ion-thumbnail item-start>
              <img
                src="{{item.Logo}}"
                style="    top: 20px;
    position: absolute;"
              />
            </ion-thumbnail>
            <h2
              style="font-family: PlayfairDisplay-Regular;top: 20px;
    position: absolute;"
            >
              {{item.Name}}
            </h2>
          </ion-item>
        </ion-list>

        
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12>
        <h2
          style="font-family:GloriaHallelujah-Regular;color:#fb595e;margin: 0px;"
          class="animated infinite pulse"
        >
          No more category
        </h2>
      </ion-col>
    </ion-row>
  </ng-template>
  <ng-template #notconnected>
    <ion-row>
      <ion-col col-12 class="nointernetimage">
      
      <img
        src="../../assets/nointernetbg.png"
        alt=""
        style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;"
      />
   
      </ion-col>
    </ion-row>
   
  </ng-template>
</ion-content>
