<ion-row *ngIf="cards.length > 0">
  <ion-col col-12>
    <ion-item no-lines class="paddingleft">
      <ion-scroll scrollX="true" scroll-avatar class="largecardcontainer">
        <ion-card
          class="scroll-item largecard"
          (click)="getToDeal(item)"
          *ngFor="let item of cards; index as i"
        >
          <ng-container>
            <ion-img
              *ngIf="item.Logo != null"
              src="{{ item.Logo }}"
              class="largecardimg"
            >
            </ion-img>
            <div class="overlay-effect h-100 w-100"></div>
            <h1 class="textstyle">
              {{ item.Name }}
            </h1>
          </ng-container>
        </ion-card>
      </ion-scroll>
      <ng-template #loading>
        dfjghfjkdghjkh
      </ng-template>
    </ion-item>
  </ion-col>
</ion-row>
