<ion-row>
  <ion-col col-12>
    <ion-item no-lines class="paddingleft">
      <ion-scroll scrollX="true" scroll-avatar id="largecardcontainer">
        <ion-card
          class="scroll-item"
          id="largecard"
          (click)="getToDeal(item)" *ngFor="let item of items">
          <ion-img [src]="item.image" class="largecardimg">
        </ion-img>
        </ion-card>
      </ion-scroll>
      <ng-template #loading>
        dfjghfjkdghjkh
      </ng-template>
    </ion-item>
  </ion-col>
</ion-row>
