login {
  .submitbutton {
    height: 3.6rem !important;
  }
      .disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled

    }


    ion-grid {
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}
