<ion-header class="show-background">
  <ion-navbar>
    <ion-title
      ><span class="titlecolormargin tracking-in-expand">Products & Services</span></ion-title
    >
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ng-container
    *ngIf="isConnected; then thenTemplate; else notconnected"
  ></ng-container>

  <ng-template #thenTemplate>
    <ion-row *ngFor="let item of tempproducts; let i = index" class="mycatego" >
      <ion-col col-12 text-center class="nopadding" style="padding: 0px;">
        <dealsgrid
          [items]="item"
          [type]="'products'"
          *ngIf="item?.ID"
        ></dealsgrid>
      </ion-col>
    </ion-row>
  </ng-template>

<ng-template #notconnected>
    <div style="height: 100%;width:100%;background: ivory;position: absolute;">
    <img
      src="../../assets/nointernetbg.png"
      alt=""
      style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;"
    />
  
  </div>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
