<ion-header class="show-background">
  <ion-navbar>
    <ion-title><span class="titlecolormargin">Products & Services</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
   <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container
    *ngIf="noproducts; then thenTemplate; else elseTemplate"
  ></ng-container>

  <!-- <ion-row>
      <ion-col col-4 *ngFor="let item of products">
        <ion-card class="roundedcorner" (click)="gotoProducts(item)">
          <ion-card-content>
            <img
              src="../../assets/categories/Grocery_v2.png"
              alt=""
              class="centered-image"
            />
            <p class="itemtext" style="white-space: nowrap">
              {{ item.Name }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
  <ion-row *ngFor="let item of tempproducts; let i = index" class="mycatego">
    <ion-col col-12 text-center class="nopadding">
      <dealsgrid [items]="item" [type]="'products'" *ngIf="item?.ID"></dealsgrid>
    </ion-col>
    <!-- <singleadd *ngIf="i % 3 == 0 && i !== 0"></singleadd> -->
  </ion-row>

  <ng-template #elseTemplate>
    <h3>no producys</h3>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
