<ion-header class="show-background">
  <ion-navbar>
    <ion-title>Unique Products</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ng-container
    *ngIf="products?.length > 0; then thenTemplate; else elseTemplate"
  ></ng-container>
  <ng-template #thenTemplate>
    <!-- <ion-row>
      <ion-col col-4 *ngFor="let item of products">
        <ion-card class="roundedcorner" (click)="gotoProducts(item)">
          <ion-card-content>
            <img
              src="../../assets/categories/Grocery_v2.png"
              alt=""
              class="centered-image"
            />
            <p class="itemtext" style="white-space: nowrap">
              {{ item.Name }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
    <ion-row *ngFor="let item of products; let i = index" class="mycatego">
      <ion-col col-12 text-center>
        <h2>{{ item.Name }}</h2>
      </ion-col>
      <ion-col col-12 text-center class="nopadding">
        <dealsgrid
          [items]="item"
          [type]="'products'"
          *ngIf="item.ID"
        ></dealsgrid>
      </ion-col>
      <singleadd *ngIf="i % 3 == 0 && i !== 0"></singleadd>
    </ion-row>
  </ng-template>
  <ng-template #elseTemplate>
    <h4>no products</h4>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
