page-waitmodal {
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 25px solid #fff;
    border-color: orangered transparent orangered transparent;
    animation: lds-hourglass 3s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

  // .centerrow {
  //   top: 50%;

  //   margin: auto 0px;
  //   transform: translate(0%, 50%);
  // }
  col {
    display: table-cell;
    vertical-align: middle;
  }

  .loader {
    width: 100px;
    /* height: 100px; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-pack: center; */
    /* -webkit-justify-content: center; */
    -ms-flex-pack: center;
    justify-content: center;
    /* -webkit-box-align: center; */
    /* -webkit-align-items: center; */
    -ms-flex-align: center;
    align-items: center;
    margin: -5px -1px;
  }

  @keyframes load10 {
    50% {
      transform: rotatez(180deg);
      border-style: dashed;
      border-color: red maroon indianred orangered;
    }
    100% {
      transform: rotatez(360deg);
    }
  }
  .loader10::before {
    content: "";
    color: white;
    height: 35px;
    width: 35px;
    background: transparent;
    border-radius: 50%;
    border: 11px solid red;
    -webkit-animation: load10 1s infinite;
    animation: load10 1s infinite;
  }
}
