singleadd {
    .addheight {
        height: 150px;
        margin-left: 5vw;
        margin-right:5vw;
        width: 90vw;
            -webkit-box-shadow: 2px 3px 16px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 16px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 16px -4px rgba(0, 0, 0, 0.75);
    border-radius: 10px;

    }

    .addimage {
        height: 150px;
    }
}