<ion-slides spager  speed="1000" effect="slide" class="addheight"  
    slidesPerView="1.3"
    spaceBetween="30"
    centeredSlides="true"
    loop="true"
    parallax="true"
  
    >

  <ion-slide style="">
   <img src="../../assets/b.jpg" alt="">
  </ion-slide>

  <ion-slide style="background-color: blue">
    <h2>Slide 2</h2>
  </ion-slide>

  <ion-slide style="background-color: red">
    <h2>Slide 3</h2>
  </ion-slide>
    <ion-slide style="background-color: red">
    <h2>Slide 3</h2>
  </ion-slide>
    <ion-slide style="background-color: red">
    <h2>Slide 3</h2>
  </ion-slide>

</ion-slides>